.ico-mono-arrow-right {
  width: 2em;
  height: 1em;
  fill: currentColor;
}
.ico-mono-arrow {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.ico-mono-soc-fb {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.ico-mono-soc-linkedin {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.ico-mono-soc-telegram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.ico-mono-soc-tw {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.ico-mono-soc-youtube {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.ico-mono-world {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
