extend ./part/_base
block var
  - var current= $i18n.glob.nav.company.link[1].name;
  - var title= $i18n.faq.meta.title;
  - var desc= $i18n.faq.meta.desc;

block content
  section.b-faq.section
    .container
      .b-header-section
        img.__img(src="../img/faq_header.svg" alt="FAQ")
        h1.title-section= $i18n.faq.title
        span.subtitle-section= $i18n.faq.subtitle
      .b-cases
        .b-acc
          each item in $i18n.faq.items
            .__item
              .__header.js-acc-control
                .__header-img
                  img(src= "../img/ico/" + item.img, alt= item.title)
                h2.__header-title= item.title
                .__control-ico
                  +svgMono("arrow")
              .__panel.js-acc-panel
                .__panel-inner
                  .b-acc
                    each cnt in item.cnt
                      .js-acc-control
                        h3.faq__question= cnt.quest
                      .__panel.js-acc-panel
                        p #{cnt.ansver}

//- Content page_______________________________________
block scripts
  script(src='../js/vendor.js')
  script(src='../js/case.js')
