extend ./part/_base
block var
  - var current = $i18n.glob.nav.company.link[0].name;
  - var title = $i18n.index.meta.title;
  - var desc = $i18n.index.meta.desc;

block content
  section.b-section.--full.--dark
    .b-intro
      .container
        .__wrap
          .b-card
            .__cnt
              h1.__title= $i18n.index.intro.title
              span.separator
              .__txt
                p= $i18n.index.intro.txt
              a(href="#").b-btn.--fill.__btn= $i18n.index.intro.button
                +svgMono("arrow-right")
            .__img
              img(src="../img/content/index-intro.png", alt=$i18n.index.intro.title)

    //- img(src="../../img/svg-sprite/play.svg", alt="")
  section.b-section.--full
    .b-service
      .container
        .header-section
          h2.title-section= $i18n.index.service.title
        .b-slider.swiper-container.js-service-slider
          .swiper-pagination
          .swiper-wrapper
            -var slider= $i18n.index.service.slider
            each slide, index in slider
              .b-card.swiper-slide
                .__img
                  img(src="../img/content/slider-" + (index + 1) + ".png" , alt= slide.title)
                .__title-wrap
                  h3.__title= slide.title
                  span.separator
                if slide.cnt.length == 1
                  .__txt-list
                    .__txt=  slide.cnt
                else
                  ul.__txt-list
                    each txt in slide.cnt
                      li.__txt=  txt
        footer.b-section-footer
          .btn-wrap
            a(href="").b-btn.--outline= $i18n.index.service.btn

  section.b-section.--full.--dark
    .b-cases
      .container
        .header-section
          h2.title-section= $i18n.index.cases.title
          span.subtitle-section= $i18n.index.cases.subtitle
        .card-list
          each item, index in $i18n.index.cases.block
            .b-card
              .__cnt
                .cases__counter
                h3.__title= item.title
                  span.separator
                .__txt= item.text
              .__img
                img(src="../img/content/cases-" + (index + 1) + ".png" , alt= item.title)
        footer.b-section-footer
          .__txt= $i18n.index.cases.footer
          a(href="").b-btn.--outline= $i18n.index.cases.button

  section.b-section.--full
    .b-work
      .container
        .__wrap
          .header-section
            h2.title-section= $i18n.index.work.title
          .b-work-list
            each item, index in $i18n.index.work.block
              .__item
                .__txt-wrap
                  .__txt= item.txt
                  .__counter
                  .__border
                .__img
                  img(src="../img/content/works-" + (index + 1) + ".png" , alt= item.txt)

  section.b-section.--full
    .container
      .b-card
        .__cnt
          .__title-wrap
            h3.__title= $i18n.index.use.title
            span.separator
          .__txt= $i18n.index.use.txt
          .b-btn.--fill.__btn= $i18n.index.use.button
        .__img.--outer
          img(src="../img/content/footer-banner.png", alt=$i18n.index.use.title)
//- Content page_______________________________________
block scripts
  script(src='../js/vendor.js')
  script(src='../js/index.js')
