.separator
  display: block
  margin:  45px 0
  width: 120px
  height: 2px
  background-color: #fff
  +rmax(sm)
    margin: 30px auto

.section-footer
  text-align: center
  font-weight: 300
  margin: 100px auto 0
  max-width: 540px
  font-size: 16px
  +r(sm)
    font-size: 20px
  &__txt
    margin-bottom: 40px

.card
  display: grid
  grid-template-columns: 1fr
  grid-gap: 40px
  align-items: center
  text-align: center
  +r(sm)
    text-align: left
    grid-template-columns: 1fr 1fr
  +r(lg)
    column-gap: 100px
  &__img
    +r(sm)
      justify-self: end
    +rmax(sm)
      order: -1
    img
      width: 400px
      +rmax(sm)
        max-width: 70%
        margin: auto
  &__title
    font-size: 22px
    margin: 0 0 2em
    line-height: 1.2
    font-size: 20px
    +r(md)
      font-size: 28px
    +r(lg)
      font-size: 32px
  &__txt
    font-weight: 300
    color: $c-sec
    font-size: 16px
    +r(md)
      font-size: 20px
  &__txt-list
    margin: 0
    padding: 0
    list-style: none
    text-align: left
    +rmax(sm)
      max-width: 70%
      justify-self: center
    li
      padding-left: 30px
      margin-bottom: 20px
      position: relative
      &:before
        content: ""
        display: block
        position: absolute
        top: .5em
        left: 0
        margin-right: 20px
        width: .5em
        height: .5em
        border-radius: 50%
        background-color: $c-sec
        vertical-align: middle
  &__btn
    margin-top: 80px

.card-list
  .card:not(:last-child)
    margin-bottom: 100px
  +r(sm)
    .card:nth-child(even)
      .card__img
        order: -1

.intro .card__title
  +r(lg)
    font-size: 32px

.service .card
  .card__img
    +r(sm)
      grid-row: span 2
  .card__title-wrap
    +r(sm)
      align-self: end
  .card__txt-list
    +r(sm)
      align-self: start

.cases
  counter-reset: cases
  .card
    counter-increment: cases
    &__img
      +rmax(sm)
        order: 10
  &__counter
    font-size: 30px
    font-weight: 100
    color: #fff
    margin-bottom: 1em
    &:before
      content: "0" counter(cases)

.work__wrap
  background: url("../../img/workline-lg.svg") top center no-repeat

.work-list
  counter-reset: work
  &__item
    counter-increment: work
    margin-bottom: 100px
    &:nth-child(even)
      margin-left: auto
    +r(sm)
      width: 460px
    +r(xl)
      width: 540px
  &__txt-wrap
    position: relative
  &__txt
    font-weight: 100
    padding: 0 20px 20px 80px
    font-size: 16px
    height: 138px
    +r(lg)
      font-size: 20px
  &__counter
    position: absolute
    z-index: 1
    left: 0
    bottom: 0
    font-size: 20px
    line-height: 50px
    text-align: center
    width: 50px
    height: 50px
    background-color: $c-main
    border: 1px solid
    border-radius: 50%
    +r(lg)
      font-size: 30px
      line-height: 70px
      width: 70px
      height: 70px
    &:before
      content: counter(work)
  &__border
    position: absolute
    bottom: 0
    left: 25px
    height: 100%
    width: 1px
    background-color: #fff
    +r(lg)
      left: 35px
    &:after
      content: ""
      position: absolute
      top: 0
      left: -4px
      width: 9px
      height: 9px
      border-radius: 50%
      background-color: #fff
  &__img
    margin: 40px auto
    max-width: 70%
