.separator
  display: block
  margin:  45px 0
  width: 120px
  height: 2px
  background-color: #fff
  +rmax(sm)
    margin: 30px auto

.intro
  &__wrap
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 40px
    align-items: center
    +rmax(sm)
      text-align: center
      justify-items: center
  &__img
    +r(sm)
      justify-self: end
    +rmax(sm)
      order: -1
    img
      width: 400px
      +rmax(sm)
        max-width: 70%
        margin: auto
  &__title
    line-height: 1.2
    font-weight: normal
    margin: 0 0 1.2em
    font-size: 20px
    +r(sm)
      font-size: 32px
  &__txt
    color: $c-sec
    margin-bottom: 90px
    font-size: 16px
    +r(sm)
      font-size: 20px

.card
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 100px
  align-items: center
  &__img
    justify-self: center
    img
      width: 400px
  &__title
    font-size: 22px
    margin: 0 0 2em
    line-height: 1.2
  &__txt
    font-weight: 300
    color: $c-sec
    font-size: 20px
  &__txt-list
    margin: 0
    padding: 0
    list-style: none
    li
      padding-left: 30px
      margin-bottom: 20px
      position: relative
      &:before
        content: ""
        display: block
        position: absolute
        top: .5em
        left: 0
        margin-right: 20px
        width: .5em
        height: .5em
        border-radius: 50%
        background-color: $c-sec
        vertical-align: middle
  &__btn
    margin-top: 80px

.counter
  font-size: 30px
  font-weight: 100
  color: #fff
  margin-bottom: 1em

.card-list
  .card
    margin-bottom: 200px
  +r(sm)
    .card:nth-child(even)
      .card__img
        order: -1

.service .card
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 0 100px
  .card__img
    grid-row: span 2
  .card__title-wrap
    align-self: end
  .card__txt-list
    align-self: start

.cases
  counter-reset: cases
  .card
    counter-increment: cases
  &__footer
    text-align: center
    font-weight: 300
    font-size: 20px
    margin: auto
    max-width: 540px
    &-txt
      margin-bottom: 40px

.cases .counter:before
  content: "0" counter(cases)

.work__wrap
  background: url("../../img/workline-lg.svg") top center no-repeat

.work-list
  counter-reset: work
  &__item
    width: 360px
    counter-increment: work
    &:nth-child(even)
      margin-left: auto
    +r(md)
      width: 460px
    +r(xl)
      width: 540px

  &__txt-wrap
    position: relative

  &__txt
    font-weight: 100
    height: 180px
    padding: 20px 20px 20px 80px
    font-size: 18px
    +r(lg)
      font-size: 20px
  &__counter
    position: absolute
    left: 0
    bottom: 0
    font-size: 30px
    line-height: 70px
    text-align: center
    width: 70px
    height: 70px
    background-color: $c-main
    border: 1px solid
    border-radius: 50%
    &:before
      content: counter(work)
  &__img
    margin: 40px auto
    max-width: 70%


// #svg-work-line
//   position: absolute
//   top: 0
//   left: 0
//   width: 100%
//   height: 100%
//   path
//     fill: transparent
//     stroke: #fff
//     stroke-width: 3px
