.page
  position: relative

.container
  max-width: 1180px
  margin: auto
  padding: 0 20px

.section
  padding: 120px 0
  background: $c-main url("../../img/bg-section-light.png")
  &__footer
    margin-top: 80px
    text-align: center
  &--full
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
  &--dark
    background: $c-main url("../../img/bg-section.png")

.mob-nav + .section
  +r(lg)
    padding-top: 160px

.header-page
  width: 100%
  z-index: 100
  border-bottom: 1px solid #4e5768
  padding: 40px 0
  transition: all .2s
  position: fixed
  z-index: 200
  &.sticky
    padding: 10px 0
    background-color: $c-main
  +rmax(xl)
    padding: 10px 0
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
    .menu__item
      +r(lg)
        padding: 0 20px
  &__logo
    +rmax(sm)
      width: 20px
  &__side
    display: flex
    align-items: center
    +rmax(xl)
      margin-left: auto

  .menu,
  .lang-swith
    +rmax(xl)
      display: none


.footer-title
  margin: 0 0 2em
  font-size: 16px
  font-weight: bold

.footer-page
  font-weight: 300
  padding: 80px 0
  border-top: 1px solid #4E5768
  &__wrap
    display: grid
    justify-items: cwnter
    text-align: center
    +r(sm)
      text-align: left
    +r(lg)
      column-gap: 10%
      grid-template-columns: auto 1fr
  &__aside
    grid-row: span 3
    row-gap: 60px
    display: grid
    +r(sm)
      grid-template-columns: repeat(3, 1fr)
    +rmax(lg)
      margin-bottom: 60px
  &__logo
    margin-bottom: 60px
    +rmax(sm)
      order: -2
  &__soc
    align-self: end
    justify-self: center
    +rmax(sm)
      margin-bottom: 40px
      order: -1
    +r(lg)
      justify-self: start

.copyright
  font-weight: normal
  justify-self: center
  +r(lg)
    justify-self: start
