.header-page
  position: fixed
  width: 100%
  z-index: 100
  padding: 40px 0
  border-bottom: 1px solid #4e5768
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
    .menu__item
      +r(sm)
        padding: 0 20px

.section
  &--full
    min-height: 100vh
    padding: 120px 0 40px
    display: flex
    flex-direction: column
    justify-content: center
