.price-carts
  display: flex
  width: 100%

.price-cart
  flex: 1 1
  display: flex
  box-shadow: 0 0 20px rgba(#000, 0.25)
  flex-direction: column
  text-align: center
  border-radius: 5px
  &:not(:last-child)
    margin-right: 40px
  &__img
    padding: 60px 0
    margin: auto
  &__cost
    margin-bottom: 60px
    font-size: 24px
  &__small
    font-size: .7em
  &__footer
    padding: 30px
    text-align: center
    background-color: #1F2633
