.price-carts
  display: grid
  column-gap: 30px
  grid-template-columns: 1fr
  +r(md)
    grid-template-columns: repeat(3, 1fr)

.price-cart
  display: grid
  grid-template-rows: 1fr auto auto
  box-shadow: 0 0 20px rgba(#000, 0.25)
  flex-direction: column
  text-align: center
  border-radius: 5px
  margin-bottom: 20px
  &__img
    padding: 60px 0
    margin: auto
  &__cost
    margin-bottom: 60px
    font-size: 24px
  &__small
    font-size: .7em
  &__footer
    padding: 30px
    text-align: center
    background-color: #1F2633

.price-cart
  +rm(450, 767)
    text-align: left
    align-items: center
    justify-content: center
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    &__img
      grid-row: span 2
    &__cost
      margin-bottom: 0
      order: 1
      align-self: start
    &__footer
      padding: 0
      text-align: left
      background-color: transparent
      font-size: 16px
      align-self: end

.reduction
  &__item
    display: flex
    align-items: center
    margin-bottom: 1em
    width: 100%
    &:nth-child(1) .reduction__procentage span
      width: 25%
      background-color: #515C70
    &:nth-child(2) .reduction__procentage span
      width: 50%
      background-color: #627087
    &:nth-child(3) .reduction__procentage span
      width:  75%
      background-color: #8692A9
  &__title
    flex: 0 0 130px
    +r(sm)
      flex: 0 0 150px
  &__procentage
    flex: 1
    span
      display: block
      padding: 5px 10px
      text-align: center
      background-color: #B7BFCF

.courier
  &__list
    display: flex
    align-items: center
    justify-content: space-around
    img
      margin: 0 15px 40px
      +r(lg)
        margin-bottom: 60px
  &__txt
    +rmax(sm)
      text-align: center

.calc-form
  display: grid
  grid-template-columns: 1fr
  gap: 60px
  +r(lg)
    grid-template-columns: 1fr 2fr
    gap: 120px
    &__left
      padding-right: 60px
      border-right: 1px solid $c-sec
  &__title
    font-size: 16px
    font-weight: bold
    margin: 0 0 1.5em
    +r(lg)
      font-size: 22px
  &__section
    display: flex
    flex-direction: column
  &__time
    margin-bottom: 80px
    +r(lg)
      margin-bottom: 120px
  &__footer
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    gap: 60px
  &__prices
    display: flex
    justify-content: flex-end
  &__prices-item:not(:first-child)
    margin-left: 40px
  &__prices-title
    color: $c-sec
    margin-bottom: 10px
  &__prices-vol-discount,
  &__prices-vol-total
    padding: 20px
    font-size: 24px
    text-align: center
    text-align: center
    padding: 20px
    border-radius: 5px
    font-size: 24px
  &__prices-vol-discount
    background-color: #252A35
    border: 1px solid  #252A35
  &__prices-vol-total
    border: 1px solid



