$breakpoints: (
  "xs": 480px,
  "sm": 650px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
) !default;

$f-base: 16px/1.4 "Roboto", sans-serif;
// $f-title: "Philosopher", serif;
$f-color: #fff;

$l-g: 15px;
$lg: $l-g;

$c-main: #2e3542;
$c-brand: #e41139;
$c-sec: #9c9ea3;
$c-dark: #1f2633;
$c-text: #fff;
$c-link: inherit;
$c-active: $c-brand;

$flag-icon-css-path: "../img/flags" !default;
$flag-icon-rect-path: "/4x3" !default;
$flag-icon-square-path: "/1x1" !default;

$container-max-widths: (
  xxl: 1400px,
);

@include font(
  "Roboto",
  "subset-Roboto-BoldItalic",
  bold,
  italic,
  "Roboto Bold Italic"
);
@include font("Roboto", "subset-Roboto-Thin", 100, "Roboto Thin");
@include font("Roboto", "subset-Roboto-Light", 300, "Roboto Thin");
@include font("Roboto", "subset-Roboto-Italic", normal, italic, "Roboto Bold");
@include font("Roboto", "subset-Roboto-Regular", normal, "Roboto Regular");
@include font("Roboto", "subset-Roboto-Bold", bold, "Roboto Italic");
